.Rproj.user
.Rhistory
.RData
.Ruserdata
Figures/
Compiled data/historical_temp_output_narr_daily.csv
Compiled data/Stratified_period_data_with_thermo.csv
External data/era5_precip.nc
External data/era5.nc
External data/HydroLAKES_points_v10_shp/
